table{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    
}
th{
    background-color: darkblue;
    font-size: 2rem;
    color: white;
}

td,th{
    border: 1px solid black;
}

tr:nth-of-type(even){
    background-color: #eee;
  }
  tr:nth-of-type(odd){
    background-color: lightblue;
  }

  @media screen  and (max-width:600px)  {
    tbody,tr,td{
        display: block;
    }  
   
    thead{
        display: none;
    }
    td:nth-of-type(1)::before{
            content: "Name:";
            font-weight: bold;
    }
    td:nth-of-type(2)::before{
            content: "Department:";
            font-weight: bold;
    }
    td:nth-of-type(3)::before{
            content: "Phone:";
            font-weight: bold;
    }
}
